<% layout('layouts/boilerplateAdmin')%>
<div class="row">
  <h1 class="text-center">Edit TV Show</h1>
  <div class="col-6 offset-3">
    <form action="/" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="tvShow[title]" value="<%=tvShow.title %>" required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input class="form-control" type="text" id="image" name="tvShow[image]" value="<%=tvShow.image %>" required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="premiered">Year of creation</label>
        <input class="form-control" type="text" id="premiered" name="tvShow[premiered]" value="<%=tvShow.premiered %>" required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="rating">Rating over 10</label>
        <input class="form-control" type="text" id="rating" name="tvShow[rating]" value="<%=tvShow.rating %>" required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="category">Category</label>
        <input class="form-control" type="text" id="category" name="tvShow[category]" value="<%=tvShow.category %>" required />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="tvShow[description]" style="height: 150px" required><%= tvShow.description%></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update TV Show</button>
      </div>
    </form>
    <a href="/admin/tvshows/<%= tvShow._id%>">Back To TV Show</a>
  </div>
</div>
